<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is a h1 heading</h1>
    <p> Navaneeth<%= 1*5*10 %></p>
    <button>click me!</button>    
</body>
</html>