#container{
    width: 600px;
    height: 300px;
    background-color: black;
    display:grid;
    grid-template-rows:50px 50px 50px 50px 50px;
    grid-template-columns:100px 100px 100px 100px ;
    grid-gap:10px 20px;

}
.item{
    background-color: greenyellow;
    background-color: greenyellow;

    border: 2px solid black;

}
.one{
   
    grid-column: 1/4;
}
.two{
    grid-row: 1/3;
}