<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h2>Here is you Post in Detail</h2>
    <div class="post">
       <h3 class="username">@<%= post.username %></h3>
        <h2>Content:<%= post.content %></h2>

    </div>

    
</body>
</html>